In [2]:
# Importing the necessary package 
# Make sure to pip install it in Anaconda, if you don't have it
import yfinance

In [3]:
# Ignoring warning messages
import warnings 
warnings.filterwarnings("ignore")

In [12]:
# Using the .download() method to get our data

raw_data = yfinance.download (tickers = "^FTSE", #The time series we are interested in - (in our case, these are the S&P, FTSE, NIKKEI and DAX)
                              start = "1994-01-07", #The starting date of our data set
                              end = "2021-06-16", #The ending date of our data set (at the time of upload, this is the current date)
                              interval = "1d", #The distance in time between two recorded observations. Since we're using daily closing prices, we set it equal to "1d", which indicates 1 day. 
                              group_by = 'ticker', #The way we want to group the scraped data. Usually we want it to be "ticker", so that we have all the information about a time series in 1 variable.
                              auto_adjust = True, #Automatically adjuss the closing prices for each period. 
                              treads = True) #Whether to use threads for mass downloading. 
# ^FTSE ^N225 ^GDAXI ^GSPC

[*********************100%***********************]  1 of 1 completed

In [13]:
# Creating a back up copy in case we remove/alter elements of the data by mistake
df_comp = raw_data.copy()

In [14]:
df_comp

                   Open         High          Low        Close     Volume
Date
1994-01-07  3401.399902  3446.800049  3398.699951  3446.000000          0
1994-01-10  3465.699951  3468.100098  3430.000000  3440.600098          0
1994-01-11  3442.500000  3442.500000  3413.500000  3413.800049          0
1994-01-12  3394.800049  3402.399902  3372.000000  3372.000000          0
1994-01-13  3380.699951  3383.300049  3356.899902  3360.000000          0
...                 ...          ...          ...          ...        ...
2021-06-09  7095.100098  7095.700195  7046.000000  7081.000000  575133700
2021-06-10  7081.000000  7117.700195  7080.000000  7088.200195  574917100
2021-06-11  7088.200195  7140.700195  7088.200195  7134.100098  509040600
2021-06-14  7134.100098  7188.299805  7131.799805  7146.700195  551244200
2021-06-15  7146.700195  7189.600098  7142.700195  7172.500000  779379400

[6931 rows x 5 columns]

In [15]:
# Adding new columns to the data set
df_comp['ftseopen'] = df_comp['Open']
df_comp['ftsehigh'] = df_comp['High']
df_comp['ftselow'] = df_comp['Low']
df_comp['ftseclose'] = df_comp['Close']
df_comp['ftsevolume'] = df_comp['Volume']

In [16]:
df_comp = df_comp.iloc[1:] # Removing the first elements, since we always start 1 period before the first, due to time zone differences of closing prices
del df_comp['Open']
del df_comp['High']
del df_comp['Low']
del df_comp['Close']
del df_comp['Volume']

In [17]:
print (df_comp.head()) # Displaying the first 5 elements to make sure the data was scrapped correctly
print (df_comp.tail()) # Making sure of the last day we're including in the series

               ftseopen     ftsehigh      ftselow    ftseclose  ftsevolume
Date
1994-01-10  3465.699951  3468.100098  3430.000000  3440.600098           0
1994-01-11  3442.500000  3442.500000  3413.500000  3413.800049           0
1994-01-12  3394.800049  3402.399902  3372.000000  3372.000000           0
1994-01-13  3380.699951  3383.300049  3356.899902  3360.000000           0
1994-01-14  3370.899902  3405.600098  3369.399902  3400.600098           0
               ftseopen     ftsehigh      ftselow    ftseclose  ftsevolume
Date
2021-06-09  7095.100098  7095.700195  7046.000000  7081.000000   575133700
2021-06-10  7081.000000  7117.700195  7080.000000  7088.200195   574917100
2021-06-11  7088.200195  7140.700195  7088.200195  7134.100098   509040600
2021-06-14  7134.100098  7188.299805  7131.799805  7146.700195   551244200
2021-06-15  7146.700195  7189.600098  7142.700195  7172.500000   779379400

In [18]:
df_comp.to_csv('FTSE.csv')